At last that happened Nokia entered in the market with a brand new Android phone for re catching the lost kingdom of Smart phone market. Kerala market for Nokia Android is now very active, people looking for the upcoming reviews about the three android handsets from Nokia. Kerala mobile market is one of the important mobile markets for the all type of smart phone and basic models. Kerala customers highly looking for the best models with best features. People from Kerala are highly interested in new models, so they have high expectations about new Nokia Android phone. Android phones very popularly using by both all categories of people. Samsung is currently leading Kerala smart phone market like other market. Nokia have large network of shops and after sale service centres in Kerala
